body{
  margin: 0;
  padding: 0;
}
.footer {
  background-color: hsl(240, 88%, 64%);
  color: #fff;
  padding: 0px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav-ul {
  margin: 0;
  padding: 5px;
  text-decoration: none;
  background-color: hsl(240, 88%, 64%);
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.block {
 
}
.logo{
  width: 50px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 50px;
}
.login-txt{
  font-size: smaller;
}
.block p {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.right-align{
    text-align: right;
}
